<div class="container">
  <div class="right-side">
    <img src="./assets/logo.svg" alt="Early Bird">
  </div>
  <div class="content">
    <div class="title">{{ 'buyer.pages.reset.title' | translate }}</div>
    <form class="forgetpassword-form" [formGroup]="formModel" (ngSubmit)="onSubmit()">
      <div class="form-group" formGroupName="passwordInfo">
        <label class="password" for="password">{{ 'buyer.pages.reset.password' | translate }}</label>
        <span class="red-color">*</span>
        <!-->img class="passwordImg" src="../../../../assets/password.svg"-->
        <input id="password" type="{{ btnType }}" class="form-control"maxlength="15" formControlName="password">
        <div class="showHidenBtn">
          <input type="button" class="showHidenBox" (click)="check()" value="{{ btnValue }}">
        </div>
        <div [hidden]="formModel.get('passwordInfo.password').valid || formModel.get('passwordInfo.password').untouched">
         <div class="errorText" [hidden]="!formModel.hasError('required','passwordInfo.password')">
           {{ 'buyer.pages.reset.check1' | translate }}
          </div>
          <div class="errorText" [hidden]="!formModel.hasError('minLength','passwordInfo.password')">
            {{ 'buyer.pages.reset.check1' | translate }}
          </div>
        </div>
        <label class="password" for="check">{{ 'buyer.pages.reset.check' | translate }}</label>
        <span class="red-color">*</span>
        <input id="check-password" type="{{ btnType }}" class="form-control" maxlength="15" formControlName="checkPassword">
        <div class="errorText" [hidden]="formModel.get('passwordInfo.checkPassword').valid || formModel.get('passwordInfo.checkPassword').untouched">
          <div class="errorText" [hidden]="!formModel.hasError('equal','passwordInfo')">
            {{ formModel.getError('equal','passwordInfo')?.errorInfo }}
          </div>
        </div>
      </div>
      <div class="forgot">
        <button type="submit" class="btn-primary continue-btn">{{ 'buyer.pages.forget.continue' | translate }}</button>
        <button class="btn back-to-login" [routerLink]="['/signin']" href="javascript:void(0);">{{
          'buyer.pages.forget.back-to-login' | translate }}</button>
      </div>
    </form>
  </div>
</div>