<header>
  <div class="container">
    <div class="logo pointer">
      <img src="assets/logo.svg" class="pointer" alt="Early Bird Cash Flow" [routerLink]="['/']">
    </div>
    <div class="controls">
      <div class="header-menu">
        <ul >
          <li>
            
          </li>
        </ul>
      </div>
      <div class="user-menu">
        <button type="button" class="btn btn-primary">
              <a [routerLink]="['/markets']">
                {{ 'buyer.components.header.menu.markets' | translate }}
              </a>
            </button>
        <div class="lang-select" dropdown [autoClose]="true">
          <a dropdownToggle>
            <ng-container [ngSwitch]="translate.currentLang">
              <ng-container *ngSwitchCase="'en'">{{ 'buyer.components.language.en' | translate }}</ng-container>
              <ng-container *ngSwitchCase="'cn'">{{ 'buyer.components.language.cn' | translate }}</ng-container>
              <ng-container *ngSwitchCase="'tw'">{{ 'buyer.components.language.tw' | translate }}</ng-container>
            </ng-container>
            <img src="assets/icons/small-down.svg" class="small-down">
          </a>
          <ul class="dropdown-menu" *dropdownMenu>
            <li><a style="color: #333 !important;" (click)="selectLang('en')">{{ 'buyer.components.language.en' | translate }}</a></li>
            <li><a style="color: #333 !important;" (click)="selectLang('cn')">{{ 'buyer.components.language.cn' | translate }}</a></li>
            <li><a style="color: #333 !important;" (click)="selectLang('tw')">{{ 'buyer.components.language.tw' | translate }}</a></li>
          </ul>
        </div>
        <div class="separator"></div>
        <div class="logged-as">
          {{ 'buyer.components.header.loggedAs' | translate }}&nbsp;<a class="username" [routerLink]="[ '/account', 'profile']">{{login_name}}</a>
        </div>
        <a href="javascript:void(0)" class="power-btn" (click)="logout()">
          <img src="assets/icons/power.svg" alt="Logout" class="logout">
        </a>
      </div>
      <div class="subheader">
        <div #subheader></div>
      </div>

    </div>
  </div>
  <!--
  <div class="subheader">
    <div #subheader></div>
  </div>
  -->
</header>
