:host {
  display: block;
  padding: 0 70px;
}

.top-head-table-chart{
  margin-top: 20px;
  //box-shadow: 0px 0px 4px 2px rgba(0,0,0, 0.10)

}


.header {
  font-size: 17px;
  font-weight:500;
  line-height: 35px;
  padding-top: 10px;
  border-bottom: 1px solid #EFEFEF;
  img {
    display: block;
    float: left;
    height: 24px;
    margin-top:5px;
    margin-right: 10px;
    width: 24px;
  }
}

.statistic {
  margin-top: 21px;
  display: flex;
  justify-content: space-between;

  .stat {
    font-weight:400;
    box-sizing: border-box;
    background-color: rgba(244, 244, 244, .36);
    padding: 10px 16px;
    border: 1px solid rgba(202, 206, 213, .36);
    min-width: 310px;
    font-size: 14px;

    &.second-stat {
      padding: 10px 24px!important;
      .value{
        font-size:36px!important;
      }
    }
    &.red {
      .value {
        color: #D73B36;
      }
      .progress-bar {
        background-color: #D73B36 !important;
      }
    }

    &.blue {
      .value {
        color: #4f7dc9;
      }

      .progress-bar {
        background-color: #7096d3 !important;
      }
    }

    &.green {
      .value {
        color: #469117;
      }

      .progress-bar {
        background-color: #69a643 !important;
      }
    }

    .title {
      color: #43425d;
      font-size: 16px;
      font-weight:500;
      padding-bottom:10px
    }

    .value {
      align-items: stretch;
      display: flex;

      .amount {
        align-items: center;
        display: flex;
        font-size: 36px;
        font-weight: 700;
        width:76%;
        span {
          color: #333;
          margin-top:12px;
        }
      }

      .numbers {
        color: #333;
        margin-top:5px;
        margin-right: 8px;
      }

      .numbers-desc {
        color: #333;
        margin-top:5px;
      }
    }

    .subvalue {
      color: #333;
      font-size:13px;
      padding-bottom:5px;
    }

    span {
      color: #333;
      font-size:15px;
      font-weight: 500;
    }
  }

  .progress{
    width: 35%;
    height: 5px;
    .progress-bar{
      //width: none;
      border-radius: 10px;
      background: #333;
    }
  }

}

.market-stat {
  width: 100%;
  margin-top:20px;

   .row {
     margin-left:0px!important;
     margin-right:0px!important;
     text-align:center!important;
   }
  .row-header {
    margin-left: 0px !important;
    background-color: #f5f6fa;
    font-size: 11px;
    height:48px;
    line-height:48px;
    color:#9eabb1;

  }
  .row-line {
      border-bottom: 1px solid #EFEFEF;
  }

  .row-content {
      font-size: 13px;
      height:41px;
      line-height: 41px;
  }


  .col-label {
    text-align:left!important;

  }

}


.chart {
    width: 100%;
    position: relative;
    background-color: #fff;
    padding: 6px;
    margin: 0;
    padding-top: 18px;
}

.numbers-mobile {
  display: none;
}

.second-statistic {
  display: flex;
  justify-content: space-around;
  margin: 70px auto;
  width: 80%;

  .stat-block {
    border: 1px solid #f1f1f3;
    box-shadow: 0 1px 6px #ccc;
    padding-bottom: 36px;
    width: 394px;

    .block-heading {
      color: #4d4f5c;
      line-height: 70px;
      height: 70px;
      text-align: center;
    }

    .row {
      align-items: center;
      background-color: #fafafa;
      border-top: 1px solid #f1f1f3;
      border-bottom: 1px solid #f1f1f3;
      color: #4d4f5c;
      display: flex;
      padding: 0 47px;
      font-size: 13px;
      justify-content: space-between;
      height: 41px;

      span:first-child {
        font-weight: 700;
      }

      span:last-child {
        color: rgba(67, 66, 93, .5);
      }
    }
  }
}

.income {

  .graph-theme{
    background: #009deb;
    height: 11px;
    width: 36px;
    float: right;
    margin-top: 6px;
    margin-right: 5px;
  }

  .graph-theme-label{
    float: right;
    font-size: 14px
  }
}

.apr {
  padding: 0;

  .graph-theme{
      background: #dcdcdc;
      height: 11px;
      width: 36px;
      float: left;
      margin-top: 6px;
      margin-right: 5px;
  }

  .graph-theme-label{
    float: left;
    font-size: 14px;
  }
}

.incomeLabel{
  float: right;
}

.topFiveTable{
  padding: 20px;
}

.registered-table, .income-table{

  margin-top: 2px;
  
  th {
    font-size: 14px;
    color: #333;
    height: 32px;
    text-align: left;  
    font-weight: bold;
  }

  td{
    font-size: 14px;
  }
  
  .register-head{
    border-bottom: 2px solid #1FADCD;
    border-top : 0px;
  }

  .income-head{
    border-bottom: 2px solid #6aa443;
    border-top : 0px;
  }
}

canvas.chartjs-render-monitor.income-apr-chart {
  width: 100% !important;
  height: 300px !important;
}


sub {
  color: #707070;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  bottom: 0;
}

.progress{
  width: 35%;
  height: 5px;
}

.progress-bar{
  //width: none;
  border-radius: 10px;
  background: #333;
}

@media(max-width: 1300px) {
  .statistic {
    .value .amount {
      font-size: 20px;
    }
  }
}

@media(max-width: 1000px) {
  .statistic {

    & > div {
      margin-bottom: 20px;
      width: auto;

      .subvalue {
        padding: 0;
      }
    }
  }
}

@media(max-width: 768px) {
  .market-stat {
    overflow-x: scroll;

    table {
      min-width: 700px;
    }
}

  .second-statistic {
    display: block;
    margin: 0;
    width: auto;

    .stat-block {
      box-shadow: none;
      width: auto;

      &:last-child {
        margin-top: 20px;
      }
    }
  }
}

@media(max-width: 767px) {

  .mg-55 {
    margin-left: 10px !important
  }

  canvas.chartjs-render-monitor.income-apr-chart {
    width: 100% !important;
    height: 200px !important;
    margin-left: 0;
  }
}

.mrg-top-20 {
  margin-top: 15px
}

.box-shad {
  -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
}

.grapha {
  display: inline-block;
  padding: 8px;
  margin: 0 auto;
}