
  <div class="top-head-table-chart">
    <div class="header">
       {{ 'buyer.pages.current.clearing.title' | translate }}
    </div>

    <div class="statistic">

          <div class="stat">
              <div class="title">{{ 'buyer.pages.current.clearing.market-total' | translate }}</div>
              <div class="value">
                <div class="amount">
                  <span>{{ currentMarket?.currencySign }}</span>{{currentMarket?.total?.discountAmount | number: '4.2-2' }}
                </div>
                <div class="numbers">
                  <div class="apr">{{ currentMarket?.total?.averageApr }}</div>
                  <div class="dpe">{{ currentMarket?.total?.averageDpe }}</div>
                </div>
                <div class="numbers-desc">
                  <div class="apr">% {{ 'buyer.pages.current.clearing.apr' | translate }}</div>
                  <div class="dpe">{{ 'buyer.pages.current.clearing.dpe' | translate }}</div>
                </div>
              </div>
              <div class="subvalue">
                {{ currentMarket?.currencySign }} <span>{{ currentMarket?.total?.availableAmount | number: '1.2-2' }}</span> {{ 'buyer.pages.current.clearing.ap'| translate }}
              </div>
          </div>

      <div class="stat green">
        <div class="title">{{ 'buyer.pages.current.clearing.clearing-total' | translate }}</div>
        <div class="value">
          <div class="amount">
            <span>{{ currentMarket?.currencySign }}</span>{{ currentMarket?.clearing?.discountAmount | number: '1.2-2'}}
          </div>
          <div class="numbers">
            <div class="apr">{{ currentMarket?.clearing?.averageApr }}</div>
            <div class="dpe">{{ currentMarket?.clearing?.averageDpe }}</div>
          </div>
          <div class="numbers-desc">
            <div class="apr">% {{ 'buyer.pages.current.clearing.apr' | translate }}</div>
            <div class="dpe">{{ 'buyer.pages.current.clearing.dpe' | translate }}</div>
          </div>
        </div>
        <div class="subvalue">
          {{ currentMarket?.currencySign }} <span>{{ currentMarket?.clearing?.availableAmount | number: '1.2-2' }}</span> {{ 'buyer.pages.current.clearing.ap'| translate }}
        </div>
      </div>
      <div class="stat red">
        <div class="title">{{ 'buyer.pages.current.clearing.non-clearing-total' | translate }}</div>
        <div class="value">
          <div class="amount">
            <span>{{ currentMarket?.currencySign }}</span>{{ currentMarket?.non?.discountAmount | number: '1.2-2'}}
          </div>
          <div class="numbers">
            <div class="apr">{{ currentMarket?.non?.averageApr }}</div>
            <div class="dpe">{{ currentMarket?.non?.averageDpe }}</div>
          </div>
          <div class="numbers-desc">
            <div class="apr">% {{ 'buyer.pages.current.clearing.apr' | translate }}</div>
            <div class="dpe">{{ 'buyer.pages.current.clearing.dpe' | translate }}</div>
          </div>
        </div>
        <div class="subvalue">
          {{ currentMarket?.currencySign }} <span>{{ currentMarket?.non?.availableAmount | number: '4.2-2' }}</span> {{ 'buyer.pages.current.clearing.ap'| translate }}
        </div>
      </div>

    </div>

    <div class="chart" *ngIf="barChartData">
      <div class="row">
        <div class="col-lg-6 col-sm-6 col-6 income">
          <label class="graph-theme-label">{{ 'buyer.pages.current.clearing.graph-income' | translate }}</label>
          <span class="graph-theme"></span>
        </div>
        <div class="col-lg-6 col-6 apr">
          <span class="graph-theme"></span>
          <label class="graph-theme-label">{{ 'buyer.pages.current.clearing.graph-apr' | translate }}</label>
        </div>
      </div>
      <canvas class="income-apr-chart" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
        [colors]="[{ backgroundColor: 'transparent' }, { backgroundColor: '#4f7dc9' }]" [chartType]="barChartType"></canvas>
    </div>

    <div class="table-responsive market-stat">
          <div class="row row-header row-line">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-md-3 col-label">
                  {{ 'buyer.pages.current.clearing.table.current-offers' | translate }}
                </div>
                <div class="col-md-3">
                  {{ 'buyer.pages.current.clearing.table.income' | translate }}
                </div>
                <div class="col-md-3">
                  {{ 'buyer.pages.current.clearing.table.apr' | translate }}
                </div>
                <div class="col-md-3">
                  {{ 'buyer.pages.current.clearing.table.dpe' | translate }}
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-md-3  col-label">
                  {{ 'buyer.pages.current.clearing.table.cash-deployed' | translate }}
                </div>
                <div class="col-md-3">
                  {{ 'buyer.pages.current.clearing.table.amount' | translate }}
                </div>
                <div class="col-md-3">
                  {{ 'buyer.pages.current.clearing.table.suppliers' | translate }}
                </div>
                <div class="col-md-3">
                  {{ 'buyer.pages.current.clearing.table.invoices' | translate }}
                </div>
              </div>
            </div>
          </div>
          <div class="row row-content row-line">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-md-3 col-label">
                    {{ 'buyer.pages.current.clearing.table.market-clearing' | translate }}
                  </div>
                  <div class="col-md-3">
                    {{ currentMarketStat?.discount?.total?.discountAmount | currency: currentMarket?.currencySign }}
                  </div>
                  <div class="col-md-3">
                    {{ currentMarketStat?.discount?.total?.averageApr }} %
                  </div>
                  <div class="col-md-3">
                    {{ currentMarketStat?.discount?.total?.averageDpe }}
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-md-3 col-label ">
                    {{ 'buyer.pages.current.clearing.table.current' | translate }}
                  </div>
                  <div class="col-md-3">
                    {{ currentMarketStat?.amount?.current?.availableAmount | currency: currentMarket?.currencySign }}
                  </div>
                  <div class="col-md-3">
                    {{ currentMarketStat?.amount?.current?.supplierCount }}
                  </div>
                  <div class="col-md-3">
                    {{ currentMarketStat?.amount?.current?.invoiceCount }}
                  </div>
                </div>
              </div>
          </div>
          <div class="row row-content row-line">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-md-3 col-label">
                  {{ 'buyer.pages.current.clearing.table.current-clearing' | translate }}
                </div>
                <div class="col-md-3">
                  {{ currentMarketStat?.discount?.clearing?.discountAmount | currency: currentMarket?.currencySign }}
                </div>
                <div class="col-md-3">
                  {{ currentMarketStat?.discount?.clearing?.averageApr }} %
                </div>
                <div class="col-md-3">
                  {{ currentMarketStat?.discount?.clearing?.averageDpe }}
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-md-3 col-label">
                  {{ 'buyer.pages.current.clearing.table.pending' | translate }}
                </div>
                <div class="col-md-3">
                  {{ currentMarketStat?.amount?.pending?.availableAmount | currency: currentMarket?.currencySign }}
                </div>
                <div class="col-md-3">
                  {{ currentMarketStat?.amount?.pending?.supplierCount }}
                </div>
                <div class="col-md-3">
                  {{ currentMarketStat?.amount?.pending?.invoiceCount }}
                </div>
              </div>
            </div>

          </div>

        </div>
  </div>


  <div class="mrg-top-20">
    <div class="header">
     {{ 'buyer.pages.current.network.title' | translate }}
    </div>
    <div class="statistic" *ngIf="supplierNetworkStat">

        <div class="stat second-stat">
              <div class="title">{{ 'buyer.pages.current.network.suppl-total' | translate }}</div>
              <div class="value">{{ supplierNetworkStat?.total?.count }}&nbsp;</div>
              <div class="progress">
                <div class="progress-bar" *ngIf="supplierNetworkStat" [style.width]="calculatePersentage(supplierNetworkStat?.total?.countAp, supplierNetworkStat?.total?.count)">
                </div>
              </div>
              <div class="summary">{{ supplierNetworkStat?.total?.countAp }} {{ 'buyer.pages.current.network.with-ap' | translate }}</div>
          </div>
          <div class="stat second-stat blue">
              <div class="title">{{ 'buyer.pages.current.network.reg-suppl' | translate }}</div>
              <div class="value blue-color">{{ supplierNetworkStat?.registered?.count }}&nbsp;</div>
              <div class="progress">
                <div class="progress-bar" *ngIf="supplierNetworkStat" [style.width]="calculatePersentage(supplierNetworkStat?.registered?.countAp, supplierNetworkStat?.registered?.count)">
                </div>
              </div>
              <div class="summary">{{ supplierNetworkStat?.registered?.countAp }} {{ 'buyer.pages.current.network.with-ap' | translate }}</div>
          </div>
          <div class="stat second-stat green">
              <div class="title">{{ 'buyer.pages.current.network.part-suppl' | translate }}</div>
              <div class="value green-color">{{ supplierNetworkStat?.participated?.count }}&nbsp;</div>
              <div class="progress">
                <div class="progress-bar" *ngIf="supplierNetworkStat" [style.width]="calculatePersentage(supplierNetworkStat?.participated?.countAp, supplierNetworkStat?.participated?.count)">
                </div>
              </div>
              <div class="summary">{{ supplierNetworkStat?.participated?.countAp }} {{ 'buyer.pages.current.network.with-ap' | translate }}</div>
          </div>
    </div>
    <div class="row topFiveTable" *ngIf="supplierNetworkStat">
      <div class="col-lg-6 col-sm-6 col-12 registered-table">
        <table class="table ">
          <thead>
            <tr>
              <th class="register-head" colspan="2"> {{ 'buyer.pages.current.network.top5reg' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let apKey of supplierNetworkStat?.topByIncome | keys">
              <td>
                <span>{{ apKey }}</span>
              </td>
              <td>
                <span class="incomeLabel">{{ supplierNetworkStat.topByIncome[apKey] | currency: market?.currency }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-6 col-sm-6 col-12 income-table">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="income-head" colspan="2"> {{ 'buyer.pages.current.network.top5inc' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let apKey of supplierNetworkStat?.topByIncome | keys">
              <td>
                <span>{{ apKey }}</span>
                <span class="incomeLabel">{{ supplierNetworkStat.topByIncome[apKey] | currency: market?.currency }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
