.top-head-table-chart{
  margin-top: 10px;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0, 0.10)
}

sub {
  color: #707070;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  bottom: 0;
}

.progress{
  width: 35%;
  height: 5px;
}

.progress-bar{
  width: none;
  border-radius: 10px;
  background: #333;
}

.heading {
  
  font-size: 14px;
  color: #333;
  font-weight: 800;
  width: 100%;
  display: inline-block;
  padding: 10px;
  line-height: 1.7;

  img {
    display: block;
    float: left;
    height: 24px;
    margin-right: 10px;
    width: 24px;
  }
}

.statistic {
  display: flex;
  border-bottom: 2px solid #EFEFEF;
  border-top: 2px solid #EFEFEF;
  
  .total{
    margin: 0;
    padding: 0;
  }

  .clearing { 
    .value {
      .amount {
        color: #6AA443;

        sub{
          color: #6AA443;
        }
      }
    }
  }

  .title {
    color: #333;
    font-size: 14px;
    font-weight: bold;
  }

  .value {
    align-items: stretch;
    display: flex;

    .amount {
      align-items: center;
      display: flex;
      color: #333;
      font-size: 36px;
      font-weight: 700;
      margin-right: 5px;
    }

    .numbers {
      color: #333;
      font-size: 14px;
      margin-right: 5px;
    }

    .numbers-desc {
      color: #333;
      font-size: 14px;
    }
  }

  .subvalue {
    color: #333;
    font-size: 14px;
  }
}

.non-clearing .amount {
  color: #D73B36 !important;
  
  sub{
    color:#D73B36;
  }
}

.market-stat {
  width: 100%;

  thead {
    background-color: #f5f6fa;
    border-bottom: none;

    tr {
      th {
        padding: 20px 0;

        &:first-child {
          padding-left: 25px;
        }
      }
    }
  }

  tr {
    td:first-child {
      padding-left: 25px;
    }
  }

  td {
    font-size: 12px;
    width: 12.5%;
  }
}

.statistic-block {

  .title{
    margin-bottom: 8px;
  }

  .summary{
    font-size: 14px;
  }
  
  .value {
    font-weight: bold;
    font-size: 24px;
  }

  .blue-color{
    color : #1FADCD!important
  }

  .green-color{
    color : #6AA443!important
  }

  .bar-padding{
   
    margin-bottom: 5px;
  }
  .mg-55{
    margin-left: 55px
  }
  
}

.chart {
    width: 100%;
    position: relative;
    background-color: #fff;
    padding: 6px;
    margin: 0;
    padding-top: 30px;
}

.numbers-mobile {
  display: none;
}

.second-statistic {
  display: flex;
  justify-content: space-around;
  margin: 70px auto;
  width: 80%;

  .stat-block {
    border: 1px solid #f1f1f3;
    box-shadow: 0 1px 6px #ccc;
    padding-bottom: 36px;
    width: 394px;

    .block-heading {
      color: #4d4f5c;
      line-height: 70px;
      height: 70px;
      text-align: center;
    }

    .row {
      align-items: center;
      background-color: #fafafa;
      border-top: 1px solid #f1f1f3;
      border-bottom: 1px solid #f1f1f3;
      color: #4d4f5c;
      display: flex;
      padding: 0 47px;
      font-size: 12px;
      justify-content: space-between;
      height: 41px;

      span:first-child {
        font-weight: 700;
      }

      span:last-child {
        color: rgba(67, 66, 93, .5);
      }
    }
  }
}

.income {

  .graph-theme{
    background: #009deb;
    height: 11px;
    width: 36px;
    float: right;
    margin-top: 6px;
    margin-right: 5px;
  }

  .graph-theme-label{
    float: right;
    font-size: 14px
  }
}

.apr {
  padding: 0;

  .graph-theme{
      background: #dcdcdc;
      height: 11px;
      width: 36px;
      float: left;
      margin-top: 6px;
      margin-right: 5px;
  }

  .graph-theme-label{
    float: left;
    font-size: 14px;
  }
}

.incomeLabel{
  float: right;
}

.topFiveTable{
  padding: 20px;
}

.registered-table, .income-table{

  margin-top: 2px;
  
  th {
    font-size: 14px;
    color: #333;
    height: 32px;
    text-align: left;  
    font-weight: bold;
  }

  td{
    font-size: 14px;
  }
  
  .register-head{
    border-bottom: 2px solid #1FADCD;
    border-top : 0px;
  }

  .income-head{
    border-bottom: 2px solid #6aa443;
    border-top : 0px;
  }
}

canvas.chartjs-render-monitor.income-apr-chart {
  width: 100% !important;
  height: 300px !important;
}

@media(max-width: 1300px) {
  .statistic {
    .value .amount {
      font-size: 20px;
    }
  }
}

@media(max-width: 1000px) {
  .statistic {

    & > div {
      margin-bottom: 20px;
      width: auto;

      .subvalue {
        padding: 0;
      }
    }
  }
}

@media(max-width: 768px) {
  .market-stat {
    overflow-x: scroll;

    table {
      min-width: 700px;
    }
}

  .second-statistic {
    display: block;
    margin: 0;
    width: auto;

    .stat-block {
      box-shadow: none;
      width: auto;

      &:last-child {
        margin-top: 20px;
      }
    }
  }
}

@media(max-width: 767px) {

  .mg-55 {
    margin-left: 10px !important
  }

  canvas.chartjs-render-monitor.income-apr-chart {
    width: 100% !important;
    height: 200px !important;
    margin-left: 0;
  }
}

.mrg-top-20 {
  margin-top: 15px
}

.box-shad {
  -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
}

.grapha {
  display: inline-block;
  padding: 8px;
  margin: 0 auto;
}