.title {
  margin: 45px 0;
  font-size: 17px;
}

.settings a {
  margin-left: 28px;
}

.table-title{
    color:black;
    font-weight:bold;
    font-size:14px;
}

.table-markets {
  margin-top:15px!important;
  overflow-x: auto;
  margin:0 auto;
  table {
    min-width: 720px;
    width:99%!important;
  }
  .settings img {
    height: 24px;
    width: 24px;
  }
}

.pages {
  margin-top: 95px;
  text-align: right;
}

@media(max-width: 768px) {
  .table-markets {
    overflow-x: auto;
    margin:0 auto;
    table {
      min-width: 720px;
      width:99%!important;
    }
  }

  .pages {
    text-align: center;
  }
}